<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Item</title>
</head>
<body>
  <div>
    <h2 class="order-header">Order Item</h2>
    <div class="order-container">
      <mat-form-field class="half-width">
        <input #itemName matInput placeholder="Item" [formControl]="itemControl" (input)="this.orderObject.items[0] = itemName.value" required>
        <mat-error *ngIf="itemControl">Please enter an item name</mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="submitOrder()">Submit</button>

    </div>
  </div>
</body>
</html>
