.toolbar {
  background-color: lightseagreen;
  color: white;
}

.navTitle {
  padding: 0 1%;
}

.navItem {
  padding: 0 1%;
}

a {
  color: white;
  text-decoration: none;
}

.navItem:hover {
  background-color: #2896b2;
}
